
<div class="container">
  <h4 class="mb-5" style="margin-top: 20px">Choose de geometrical figure you want to calculate the area/or the perimeter.</h4>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
        <a routerLink="calculationChoice/circle">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
            <i class="fa fa-circle" style="color:#825d09"></i>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Circle
              <div class="pull-right badge" ><a routerLink="calculationChoice/circle" class="btn btn-success">Choose</a>
              </div>
            </h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
        <a routerLink="calculationChoice/rectangle">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
            <i class="fa fa-times-rectangle-o" style="color:#825d09"></i>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Rectangle
              <div class="pull-right badge" ><a routerLink="calculationChoice/rectangle" class="btn btn-success">Choose</a>
              </div>
            </h4>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt-md-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
        <a routerLink="calculationChoice/trapezium">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
            <i class="fa fa-asterisk" style="color:#825d09"></i>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Trapezium
              <div class="pull-right badge" ><a routerLink="calculationChoice/trapezium" class="btn btn-success">Choose</a>
              </div>
            </h4>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
        <a routerLink="calculationChoice/square">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
            <i class="fa fa-square" style="color:#825d09"></i>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Square
              <div class="pull-right badge" ><a routerLink="calculationChoice/square" class="btn btn-success">Choose</a>
              </div>
            </h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
